@model SistemaGestaoVendas.AutoMapper.ConciliacaoViewModel
<br/>
<h2>Conciliação de Contas</h2>

<form asp-action="ConciliacaoContas" enctype="multipart/form-data" method="post">
    <div class="form-group">
        <label for="arquivoExtrato">Selecione o arquivo do extrato bancário:</label>
        <input type="file" name="arquivoExtrato" id="arquivoExtrato" class="form-control-file">
    </div>
    <button type="submit" class="btn btn-primary">Importar Extrato</button>
</form>
<br />
@{
    decimal totalContasAPagar = 0;
    decimal totalContasAReceber = 0;
    decimal totalGeral = 0;
}

<table class="table table-bordered">
    <tr>
        <th>Saldo Pagar/Receber</th>
        @* <th>OFX Importado</th> *@
    </tr>
    @{
        int maxIterations = Math.Max(Model.ContasAPagar.Count(), Model.ContasAReceber.Count());
        for (int i = 0; i < maxIterations; i++)
        {
            <tr>
                <td>
                    @if (i < Model.ContasAPagar.Count())
                    {
                        var contaPagar = Model.ContasAPagar.ElementAt(i);
                        <span style="color: red;">@contaPagar.DataEmissao.ToString("dd/MM/yyyy") @contaPagar.Valor</span> @contaPagar.Favorecido <br />
                        totalContasAPagar += contaPagar.Valor;
                    }

                    @if (i < Model.ContasAReceber.Count())
                    {
                        var contaReceber = Model.ContasAReceber.ElementAt(i);
                        <span style="color: green;">@contaReceber.DataEmissao.ToString("dd/MM/yyyy") @contaReceber.Valor</span> @contaReceber.Favorecido <br />
                        totalContasAReceber += contaReceber.Valor;
                    }
                </td>
            </tr>
        }
    }
    <tr>
        <td>
            Total Contas a Pagar: @totalContasAPagar <br />
            Total Contas a Receber: @totalContasAReceber <br />
            Total Geral: @(totalContasAPagar + totalContasAReceber) <br />
        </td>
    </tr>
</table>